<mat-card class="main-card">
    <mat-card-title class="card-title">RESET PASSWORD</mat-card-title>
    <hr class="dialog-title-hr">
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <table class="max-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="max-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <!-- ICON -->
                            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                            <mat-icon matSuffix (click)="hide = !hide" [ngStyle]="{'color': hide ? '#000' : '#3f51b5'}">
                                {{hide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                            <!-- ICON -->
                            <mat-error *ngIf="password.hasError('required')">
                                Please enter password
                            </mat-error>
                            <mat-error *ngIf="password.hasError('minlength')">
                                Password must have at least 8 characters
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="max-width"  appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput formControlName="confirmPassword" type="password">
                            <mat-error *ngIf="confirmPassword.hasError('required')">
                                Please enter confirm password
                            </mat-error>
                            <mat-error *ngIf="confirmPassword.hasError('minlength')">
                                Confirm password must have at least 8 characters
                            </mat-error>
                            <mat-error *ngIf="confirmPassword.hasError('matching')">
                                Password and Confirm Password must be same
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <mat-card-actions>
                <button [disabled]="!form.valid" mat-raised-button color="primary" type="submit">reset</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>